body {
    padding: 0;
    margin: 0;
}

.linked {
    color: #D434FE;
}

.nav-link {
    color: white;
    padding: 10px;
}

.nav-link:hover {
    background-image: linear-gradient(to left, #903AFF 0%, #D434FE 100%);
    border-radius: 4px;
    cursor: pointer;
}

.register-btn {
    background-image: linear-gradient(to left, #903AFF 0%, #D434FE 100%);
    background-size: 100%;
    width: 12%;
    color: #fff;
    border-radius: 4px;
}

.register-btn2 {
    background-image: linear-gradient(to left, #903AFF 0%, #D434FE 100%);
    background-size: 100%;
    width: 15%;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
}

.read-more-btn {
    background-image: linear-gradient(to left, #903AFF 0%, #D434FE 100%);
    background-size: 100%;
    width: 25%;
    padding: 7px;
    color: #fff;
    border-radius: 4px;
    margin-top: 30px;
}

.version {
    color: #D434FE;
}

.judge-text {
    color: #FF26B9;
    font-weight: bold;
}

.faq-snippet {
    color: #fff;
    font-weight: 500;
}

.timelines {
    width: 2px;
    height: 60px;
    background-color: #D434FE;
    border-radius: 2px;
    margin-left: 13px;
}
.number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #903AFF 0%, #D434FE 100%);
    color: #fff;
    text-align: center;
}

.motion {
    background-color: #903AFF;
    width: 7rem;
    height: 5rem;
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}